body {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	width:100%;
	height:auto;
	overflow-x: hidden;

}

#container{
	width:100%;
}

a:link {
    text-decoration: none;
    color: #F6F6F6;
}

a:visited {
    text-decoration: none;
    color: #F6F6F6;
}

a:hover {
    text-decoration: none;
    font-size: 24px;
}

a:active {
	color: #F6F6F6;
    text-decoration: none;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 40px;
	margin-top: 20px;
}


#NujjLogo {
	text-align: center;
	padding-bottom: 10px;
	height:auto;
}

#top {
	text-align: justify;
	height:auto;
}

#top > h2,
#top > p {
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	color: #F6F6F6;
}

#top > p {
	font-size: 24px;
}

#top::after {
    content: '';
    display: inline-block;
    width: 100%;
}


header {
	text-align: center;
	width: 100%;
	font-size: 20px;
}

header > nav {
	vertical-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: #F6F6F6;
}

header nav a {
    padding: 0 2.5%;
    white-space: nowrap;
    -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}


.cbp-af-header {
	background-image: url('Images/stepping-stones.jpg') top left no-repeat;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top:0px;
	background-color: #767677;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	transition: height 0.5s;
}

.cbp-af-header .cbp-af-inner {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-af-header #top,
.cbp-af-header #top h2,
.cbp-af-header #top p,
.cbp-af-header #NujjLogo {
	height:100px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.cbp-af-header.cbp-af-header-shrink #top,
.cbp-af-header.cbp-af-header-shrink #top h2,
.cbp-af-header.cbp-af-header-shrink #top p,
.cbp-af-header.cbp-af-header-shrink #NujjLogo {
	height: 15px;
	color: #767677;
}

.cbp-af-header.cbp-af-header-shrink #top h2,
.cbp-af-header.cbp-af-header-shrink #top p,
.cbp-af-header.cbp-af-header-shrink #NujjLogo {
	opacity: 0;
}


#OurProducts {
	margin-top: 150px;
}

.pictureContainer {
    width:25vw;
    height:25vw;
    overflow: hidden;
}

.pictures_inline {
	width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    white-space:nowrap;
}

#NujjAccounts,
#NujjReceipts  {
	display: inline-block;
	margin-left: 12.5%;
	margin-right: 12.5%;
}


#NujjReceipts .pictureContainer img {
	position: relative;
	top:0;
	width:100%;
	height:auto;
	transition: top 0.4s ease-in-out;
}

#NujjReceipts .pictureContainer img:hover{
	top: -25vw;
}


#NujjAccounts > .pictureContainer img {
	position: relative;
	top:0;
	width:100%;
	height:auto;
	transition: top 0.4s ease-in-out;
}

#NujjAccounts .pictureContainer img:hover{
	top: -25vw;
}

/** blockquote styles **/
.bq3 { 
	width: 400px; 
	background: url('Images/Quote_down.png') top left no-repeat; 
	padding-left: 55px; 
	color: #575757; 
}

.bq3 > p { 
	font-family: 'Josefin Sans', sans-serif;
	padding-right: 35px;  
	background: url('Images/Quote_up.png') bottom right no-repeat; 
	padding-bottom: 0px; 
	color: #767676; 
	font-size: 18px;
	line-height: 40px; }

.bq3 > p:hover {
	font-family: 'Josefin Sans', sans-serif;
	padding-right: 35px;  
	background: url('Images/Quote_up.png') bottom right no-repeat; 
	padding-bottom: 0px; 
	color: #333;  
	transition: color 0.4s;
	line-height: auto;
}

.bq3 > h6 { 
	font-family: 'Josefin Sans', sans-serif;
	color: #333; 
	font-weight: bold;
	font-size: 20px; }


hr { width:70%; height:1px; background: #fff; text-align: center; }

.Person > #image {
	width: 50%;
	font-family: 'Josefin Sans', sans-serif;
	height:auto;
}

.Person > #image > h6 {
	line-height: 25px;
	font-weight: normal;
	text-align: Center;
	font-size: 20px;
	font-style: italic;
}

.Person > #image > h6 > b {
	font-weight: bolder;
	font-style: normal;
	font-size: 24;

}

.Person > #image > img {
	width:40%;
	margin-left: 30%;
	margin-right: 30%;
}

.Person > #image,
.Person > blockquote {
	display: inline-block;
	vertical-align: middle;
}

#PrincipleOne h2{
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 26px;
}



#PrincipleOne p{
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: Light;
	font-size: 24px;
}

#Marcin {
	margin-bottom: 5%;
}

@media screen and (max-width: 75em){

.Person {
	width: 100%;
}
    
 .Person > #image {
	font-family: 'Josefin Sans', sans-serif;
	height:auto;
}

.Person > #image > h6 {
	line-height: 25px;
	font-weight: normal;
	text-align: Center;
	font-size: 20px;
	font-style: italic;
}

.Person > #image > h6 > b {
	font-weight: bolder;
	font-style: normal;
	font-size: 24;

}

.Person > #image > img {
	width:40%;
	margin-left: 30%;
	margin-right: 30%;
}

.Person > #image,
.Person > blockquote {
	width: 50%;
	margin-left:25%;
	display: block;
}

.Person > blockquote {
	margin-left: 10%;
	width: 80%;
}
    
}