@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


section #services {
  text-align: center;
  transform: translatez(0);
}

section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
}
section #services li div {
  width: 100px;
  height: 100px;
/*  color: white;*/
  font-size: 70px;
  text-align: center;
  line-height: 100px;
/*  background-color: rgb(64,64,66);*/
  transition: all 0.5s ease;
}

section #services li #Email {
  color: white;
  background-color: rgb(64,64,66);
}

section #services li #Facebook {
  color: white;
  background-color: rgb(58,88,155);
}

section #services li #Twitter {
  color: white;
  background-color: rgb(80,171,241);
}

section #services li #Instagram {
  color: White;
  background-color: rgb(166,125,93);
}

section #services li #Linkedin {
  color: white;
  background-color: rgb(0,128,193);
}

section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}

section #services li span {
  width: 100px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: rgb(64,64,66);
  font-size: 1.2em;
  text-align: center;
}

body {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
    color: black;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.Terms_and_Conditions {
    padding-top: 100px;
    font-size: 26px;
    text-align: center;
}

#TandC {
    padding-right: 40px;
    padding-left: 40px;
}

nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

nav li img {
		width:30.5px;
		height:30px;
	}



header {
	position: fixed;
	background-color: rgb(64,64,66);
	/*opacity:0.9;*/
	top: 0;
	z-index: 10;
}



#container{
    margin-top:0px;
    padding-top: 0px;
	width:100%;
}

a:link {
    text-decoration: none;
    color: #F6F6F6;
}

a:visited {
    text-decoration: none;
    color: #F6F6F6;
}

a:hover {
    text-decoration: none;
    font-size: 24px;
}

a:active {
	color: #F6F6F6;
    text-decoration: none;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 40px;
}



nav a#pull {
    display: none;
} 

nav li {
	display: inline;
	float: center;
} 



header {
	text-align: center;
	width: 100%;
	font-size: 20px;
}

header > nav {
	height: 42px;
	font-family: 'Josefin Sans', sans-serif;
	color: #F6F6F6;
}

header nav a {
    padding: 0 2.5%;
    white-space: nowrap;
    -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}



#TopHeader {
    color: white;
	padding-top:30px;
    margin-top: 0px;
    padding-bottom: 50px;
    margin-bottom: 0px;
}

#OurProducts {
    text-align: center;
    background-color: rgb(64,64,66);
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 15px;
}

.pictureContainer {
    width:350px;
    height:350px;
    overflow: hidden;
}

.pictures_inline {
	width: 100%;
    margin-bottom: 5%;
    white-space:nowrap;
}

#NujjReceipts  {
    text-align: center;
    font-size: 24px;
    color: white;
	display: inline-block;
}


#NujjReceipts .pictureContainer img {
	position: relative;
	top:0;
	width:100%;
	height:auto;
	transition: top 0.4s ease-in-out;
}

#NujjReceipts .pictureContainer img:hover{
	top: -350px;
}

#NujjReceipts a {
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
    
/*    background-color: rgb(90,90,90)*/
}

#NujjReceipts a:hover {
    background-color: rgb(90,90,90)
}

#ReceiptsDescription .Left {
    float: left;
    width: 50vw;
}

#ReceiptsDescription .Left h2 {
    padding-left: 100px;
    font-size: 32px;
}

#ReceiptsDescription .Left p {
    
    padding-left: 100px;
    padding-right: 60px;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    color: #575757;
    -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

#ReceiptsDescription .Left b {
    
    -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}



#ReceiptsDescription .Left p:hover {
    color: black;
}

#ReceiptsDescription .Left p b:hover {
    font-size: 21px;
}



#ReceiptsDescription .Right {
    float:right;
    width: 50vw;
    text-align: center;
}

#ReceiptsDescription .Right h2{
    text-align: left;
    padding-left: 60px;
    font-size: 32px;
}

#ReceiptsDescription .Right p {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 22px;
    text-align: justify;
    line-height: 30px;
    color: #575757;
    -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

#ReceiptsDescription .Right b {
    
    -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}


#ReceiptsDescription .Right p:hover {
    color: black;
}

#ReceiptsDescription .Right p b:hover {
    font-size: 24px;
}


/** blockquote styles **/
.bq3 { 
	width: 400px; 
	background: url('Images/Quote_down.png') top left no-repeat; 
	padding-left: 55px; 
	color: #575757; 
}

.bq3 > p { 
	font-family: 'Josefin Sans', sans-serif;
	padding-right: 35px;  
	background: url('Images/Quote_up.png') bottom right no-repeat; 
	padding-bottom: 0px; 
	color: rgb(130,130,130); 
	font-size: 18px;
	line-height: 2em; }

.bq3 > p:hover {
	font-family: 'Josefin Sans', sans-serif;
	padding-right: 35px;  
	background: url('Images/Quote_up.png') bottom right no-repeat; 
	padding-bottom: 0px; 
	color: black;  
	transition: color 0.4s;
	line-height: auto;
}

.bq3 > h6 { 
	font-family: 'Josefin Sans', sans-serif;
	color: white; 
	font-weight: bold;
	font-size: 20px; }


hr { width:70%; height:1px; background: #fff; text-align: center; }

.Person > #image
{
	width: 50%;
	font-family: 'Josefin Sans', sans-serif;
	height:auto;
}

.Person > #image > h6 {
	line-height: 25px;
	font-weight: normal;
	text-align: Center;
	font-size: 20px;
	font-style: italic;
}

.Person > #image > h6 > b {
	font-weight: bolder;
	font-style: normal;
	font-size: 24;

}

.Person > #image > img {
	width:40%;
	margin-left: 30%;
	margin-right: 30%;
}

/*
.Person > #image,
.Person > blockquote {
	display: inline-block;
	vertical-align: middle;
}
*/








#PrincipleOne h2{
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 26px;
}



#PrincipleOne p{
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: Light;
	font-size: 24px;
}

#Marcin {
	margin-bottom: 5%;
}

.Form {
    text-align: center;
}

.Footnote {
    color:black;
    text-align: center;
}

.Footnote a:link {
    text-decoration: underline;
    color: black;
}

.Footnote a:visited {
    text-decoration: underline;
    color: black;
}

.Footnote a:hover {
    text-decoration: underline;
    font-size: 16px;
}

.Footnote a:active {
	color: black;
    text-decoration: underline;
}


@media only screen 
    and (min-device-width : 375px)
    and (max-device-width : 667px) 
    and (width : 375px) 
    and (height : 559px) 
    and (orientation : portrait) 
    and (color : 8)
    and (device-aspect-ratio : 375/667)
    and (aspect-ratio : 375/559)
    and (device-pixel-ratio : 2)
    and (-webkit-min-device-pixel-ratio : 2), screen and (max-device-width: 1200px), screen and (max-width: 1200px){

body {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
    color: black;
}

.Person {
	width: 100%;
    text-align: center;
}
    
 .Person > #image {
	font-family: 'Josefin Sans', sans-serif;
	height: auto;
}

.Person > #image > h6 {
	line-height: 25px;
	font-weight: normal;
	text-align: Center;
	font-size: 20px;
	font-style: italic;
}

.Person > #image > h6 > b {
	font-weight: bolder;
	font-style: normal;
	font-size: 24;

}

.Person > #image > img {
	text-align: center;
    width: 250px;
    margin-left: 0px;
    margin-right: 0px;
}


.Person > blockquote {
	width: 80%;
	text-align: center;
	font-size: 5vw;
}
        


.bq3 { 
	background: none;
	color: #575757;
    margin-left: 0px;
}

.bq3 > p { 
	font-family: 'Josefin Sans', sans-serif;
	background: none;
	color: black;}

.bq3 > p:hover {
	font-family: 'Josefin Sans', sans-serif;
	background: none; 
	color: black;   }
    
}


@media screen and (max-width : 800px) {
    
    header {
        background-color: none;
        height: 80px;
    }
    

	nav {
		position:relative;
		display: block;
		float: none;
		height: auto;
	}

	nav ul {
		padding: 0;
		display: none;
		float: none;
	}

	nav li {
		display: block;
		background-color: rgb(64,64,66);
		opacity:1;
		float: none;
		width: 100%;
        font-size: 30px;
		border-bottom: 1px solid white;
		padding-bottom: 7.5px;
		padding-top: 10px;
	}


	nav li img {
		margin-right: 5%;

		
	}
    

	nav a#pull {
        display: block;
        width: 100%;
        height: 80px;
        
    }
        
    nav a#pull:after {
        content:"";
        background: url('Images/nav-icon.png') no-repeat;
        background-size: 30.5px 30px;
        display: inline-block;
        position: absolute;
        width:31px;
		height:31px;
        right: 10px;
        top: 5px;
        bottom: 10px;
    }
    
    
    
    #ReceiptsDescription .Left {
    float: left;
    width: 100vw;
    }
    
    #ReceiptsDescription .Left h2 {
        padding-left: 60px;
    }
    
    #ReceiptsDescription .Left p {
    
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    color: #575757;
    -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
        
    
    #ReceiptsDescription .Right {
    float:right;
    width: 100vw;
    text-align: center;
    }
    
    #OurProducts {
    text-align: center;
    background-color: rgb(64,64,66);
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 60px;
}

    .pictureContainer {
    width:250px;
    height:250px;
    overflow: hidden;
}

    .pictures_inline {
	width: 100%;
    margin-bottom: 5%;
    white-space:nowrap;
}

    #NujjReceipts  {
    text-align: center;
    font-size: 24px;
    color: white;
	display: inline-block;
}


    #NujjReceipts .pictureContainer img {
	position: relative;
	top:0;
	width:100%;
	height:auto;
	transition: top 0.4s ease-in-out;
}
    
    #NujjReceipts .pictureContainer img:hover{
	top: 0px;
}

    
}

@media only screen 
    and (min-device-width : 375px)
    and (max-device-width : 667px) 
    and (width : 375px) 
    and (height : 559px)
    and (orientation : portrait) 
    and (color : 8)
    and (device-aspect-ratio : 375/667)
    and (aspect-ratio : 375/559)
    and (device-pixel-ratio : 2)
    and (-webkit-min-device-pixel-ratio : 2), only screen and (max-device-width : 800px) {
        
        
    #TopHeader {
    color: white;
	padding-top:160px;
    margin-top: 0px;
    padding-bottom: 50px;
    margin-bottom: 0px;
        }
    
    header {
        background-color: none;
        height: 160px;
    }
    

	nav {
		position:relative;
		display: block;
		float: none;
		height: auto;
	}

	nav ul {
		padding: 0;
		display: none;
		float: none;
	}

	nav li {
		display: block;
		background-color: rgb(64,64,66);
		opacity:1;
		float: none;
		width: 100%;
        font-size: 120px;
		border-bottom: 1px solid white;
		padding-bottom: 30px;
		padding-top: 40px;
	}
        
        a:hover {
    text-decoration: none;
    font-size: 120px;
}


	nav li img {
		margin-right: 5%;

		
	}
    

	nav a#pull {
        display: block;
        width: 100%;
        height: 80px;
        
    }
        
    nav a#pull:after {
        content:"";
        background: url('Images/nav-icon.png') no-repeat;
        background-size: 121px 120px;
        display: inline-block;
        position: absolute;
        width:124px;
		height:124px;
        right: 40px;
        top: 20px;
        bottom: 20px;
    }
        
    #ReceiptsDescription .Left {
    float: left;
    width: 100vw;
    }
        
    #ReceiptsDescription .Left h2 {
        padding-left: 60px;
    }
    
    #ReceiptsDescription .Left p {
    
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    color: #575757;
    -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
        
    #ReceiptsDescription .Right {
    float:right;
    width: 100vw;
    text-align: center;
    }
        
        
    
    #OurProducts {
    text-align: center;
    background-color: rgb(64,64,66);
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 60px;
}

    .pictureContainer {
    width:250px;
    height:250px;
    overflow: hidden;
}

    .pictures_inline {
	width: 100%;
    margin-bottom: 5%;
    white-space:nowrap;
}

    #NujjReceipts  {
    text-align: center;
    font-size: 24px;
    color: white;
	display: inline-block;
}


    #NujjReceipts .pictureContainer img {
	position: relative;
	top:0;
	width:100%;
	height:auto;
	transition: top 0.4s ease-in-out;
}
    
    #NujjReceipts .pictureContainer img:hover{
	top: 0px;
}

    
}